@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Samples.Helpers

@model DbNetSuiteCore.Samples.ViewModels.SampleModel
@section Title
{
    <p data-summary>You can control the columns selected from the table or view by defining @RazorHelper.HelpLink("gridcolumn-constructors", "GridColumn") objects and adding them the @RazorHelper.HelpLink("gridmodel-properties#columns-ienumerablegridcolumn", "Columns") property. In this example columns are selected and combined in an expression and also given a @RazorHelper.HelpLink("gridcolumn-properties#label-string", "Label").</p>
}
@section Control {
@{
        @(await DbNetSuiteCore.Control.Create(Context).Render(Model.GridModel))
}}