@using DbNetSuiteCore.Models;
@using DbNetSuiteCore.Enums;
@using DbNetSuiteCore.Samples.Helpers

@model DbNetSuiteCoreSamples.ViewModels.SampleModel

@section Title
{
    <p data-summary>In this example we use the @RazorHelper.HelpLink("gridcolumn-properties#aggregate-aggregatetype", "Aggregate") column property and built-in database functions to create a cross-tabulation example. It also use the @RazorHelper.HelpLink("gridmodel-events#celltransform", "CellTransform") client-side event to highlight values over 100</p>
}

@section Control {
@{
        Model.GridModel.ClientEvents[GridClientEvent.CellTransform] = "highlightQuantity";
        @(await new DbNetSuiteCore.Control(Context).Render(Model.GridModel))
}}

@section Scripts {
<script type="text/javascript" class="source">
    function highlightQuantity(gridControl, args) {
        switch (args.columnName.toLowerCase()) {
            case "productname":
                break;
            default:
                var qty = Number(args.cell.dataset.value)
                if (qty > 100) {
                    args.cell.style = 'background-color:salmon'
                }
                break;
        }
    }
</script>
}
