@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Samples.Helpers

@model DbNetSuiteCoreSamples.ViewModels.SampleModel
@section Title
{
    <p data-summary>In addition to the toolbar search box you can also add filters to individual columns. String based columns support wildcard searching and date/time and numeric columns support the use of operators such as <b>&lt;, &gt;,&lt;=, &gt;=</b> and <b>!=</b>. Columns with lookups has selection based filters based on the values available in the dataset column. Filters are added to a grid column using the @RazorHelper.HelpLink("gridcolumn-properties#filter-filtertype", "Filter") property. The sample also demonstrates use of the @RazorHelper.HelpLink("gridcolumn-properties#initialsortorder-sortorder", "InitialSortOrder") column property to set the initial sort order of the grid to <b>OrderDate</b> descending.</p>
}
@section Control {
@{
   
    @(await new DbNetSuiteCore.GridControl(Context).Render(Model.GridModel))
}}