@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a class="btn btn-primary btn-lg" target="_blank" href="https://github.com/dbnetlink/DbNetSuiteCore2/wiki/" role="button">Documentation</a>
            <a class="btn btn-primary btn-lg" target="_blank" href="https://dbnetsuitecore.com" role="button">Website</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
