<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DbNetSuiteCore Blazor Samples</a>
    </div>
</div>

@code {
    [Parameter]
    public string? Id { get; set; }

    private string GetLink(string component) => $"/?key={component.ToLower()}";
}
<div class="nav-scrollable">
    <nav class="flex-column">
        @{
            var components = new List<string> { "Grid", "Form", "Select", "Tree" };

            foreach (var component in components)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@GetLink(component)" data-enhance-nav="false" Match="@(component == components.First() ? NavLinkMatch.All : NavLinkMatch.Prefix)">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @component Samples
                    </NavLink>
                </div>
            }
        }
    </nav>
</div>

