@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Samples.Helpers

@model DbNetSuiteCore.Samples.ViewModels.SampleModel
@section Title
{
    <p data-summary>At it's most basic you can generate a form by simply @RazorHelper.HelpLink("formmodel-constructors", "specifying") a data source type, connection alias and the name of the table. Default functionality includes a search box that will perform a wildcard search against all string based columns in the dataset, navigation where more than one record is returned and the ability to update, insert and delete records.</p>
}
@section Control {
    @{
        @(await DbNetSuiteCore.Control.Create(Context).Render(Model.FormModel))
    }
}