@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Samples.Helpers

@model DbNetSuiteCore.Samples.ViewModels.SampleModel
@section Title
{
    <p data-summary>This sample uses the @RazorHelper.HelpLink("select-overview", "Select") control to filter records returned to the form.</p>
}
@section Control {
    @{
        @(await DbNetSuiteCore.Control.Create(Context).Render(Model.SelectModel))
        <hr />
        @(await DbNetSuiteCore.Control.Create(Context).Render(Model.FormModel))
    }
}