@page
@using DbNetSuiteCore.Enums.DbNetFile;
@using DbNetSuiteCoreSamples.ViewModels;
@using DbNetSuiteCore.Components;

@model SampleModel

@section Title {
    <p>You can configure the information returned by DbNetFileCore using the Columns property to specify which bits of information you want to return from the file system.</p>
}

@section Control {
    @{
        DbNetFileCore folderView = new DbNetFileCore("/lib");
        folderView.Columns = new List<FileInfoProperties>() { FileInfoProperties.Name, FileInfoProperties.Length, FileInfoProperties.Created };
        @folderView.Render()
    }
}

@section Source {
DbNetFileCore folderView = new DbNetFileCore("/lib");
folderView.Columns = new List<FileInfoProperties>() { FileInfoProperties.Name, FileInfoProperties.Length, FileInfoProperties.Created };
@@folderView.Render()
}
