@page
@using DbNetSuiteCoreSamples.ViewModels;
@using DbNetSuiteCore.Components;

@model SampleModel

@section Title
{
    <p>At its simplest an instance of DbNetFileCore can be created with a single of code. Just supply the virtual path of the root of the part of the file system that you want to expose to the @Model.HelpLink("dbnetfile_constructors.htm","constructor") of the control. The component will create a sortable, searchable and pageable interface to the files and folders underneath.</p>
}

@section Control
{
    @(new DbNetFileCore("/lib").Render())
}

@section Source
{
@@(new DbNetFileCore("/lib").Render())
}
