@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Models

@model DbNetSuiteCoreSamples.ViewModels.SampleModel
@section Title
{
    <p data-summary>At it's most basic you can generate a grid by simply specifying the connection alias and the name of the table or view. Default functionality includes a search box that will perform a wildcard search against all string based columns in the dataset, the ability to sort on any column by clicking on the heading, a copy page button and an option to export the data in HTML, Excel, CSV and JSON formats.</p>
}
@section Control {
@{
        GridModel customerGrid = new GridModel(DataSourceType.SQLite, "northwind", "Customers");
        @(await new DbNetSuiteCore.GridControl(HttpContext).Render(customerGrid))
}}