@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Samples.Helpers

@model DbNetSuiteCore.Samples.ViewModels.SampleModel
@section Title
{
    <p data-summary>You can control the columns selected from the table or view by defining @RazorHelper.HelpLink("Grid-Column", "Grid Column") objects and adding them the @RazorHelper.HelpLink("Grid-Model#columns-ienumerablegridcolumn", "Columns") property. In this example columns are selected and combined in an expression and also given a @RazorHelper.HelpLink("grid-column#label-string", "Label").</p>
}
@section Control {
@{
    GridModel customerGrid = new GridModel(DataSourceType.SQLite, "northwind", "Customers");
    customerGrid.Columns = new List<GridColumn>
    {
        new GridColumn("CompanyName", "Name"), 
        new GridColumn("coalesce(Address,'') || ', ' || coalesce(City,'')", "Address") { DataType = typeof(string)},
        new GridColumn("coalesce(Phone,'') || ' / ' || coalesce(Fax,'')", "Phone/Fax") { DataType = typeof(string)}
    };
    @(await DbNetSuiteCore.Control.Create(HttpContext).Render(customerGrid))
}}