@page

@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Constants
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Samples.Helpers
@model DbNetSuiteCore.Samples.ViewModels.SampleModel

@section Title
{
    <p data-summary>Grid controls can be nested by assigning a child grid control to a parent control using the @RazorHelper.HelpLink("grid-model#nestedgrid-gridmodel", "NestedGrid"). The child control will return records whose @RazorHelper.HelpLink("Grid-Column#ForeignKey-bool", "ForeignKey") column matches the @RazorHelper.HelpLink("Grid-Column#PrimaryKey-bool", "PrimaryKey") column of the parent.</p>
}

@section Control {
@{
    var invoiceLineGridModel = new GridModel("Invoice_items");
    invoiceLineGridModel.Columns = new List<GridColumn>
    {
        new GridColumn("invoicelineid", "Invoice Line ID"),
        new GridColumn("invoiceid", "Invoice ID") {ForeignKey = true, DataOnly = true },
        new GridColumn("trackid", "Track") { Lookup = new Lookup("tracks","trackid", "name") },
        new GridColumn("unitprice", "Price") {Format = "c"},
        new GridColumn("quantity", "Qty"),
    };
    invoiceLineGridModel.Caption = "Invoice Lines";
    invoiceLineGridModel.ToolbarPosition = ToolbarPosition.Hidden;

    var invoiceGridModel = new GridModel("Invoices");
    invoiceGridModel.Columns = new List<GridColumn>
    {
        new GridColumn("invoiceid", "Invoice ID") {PrimaryKey = true },
        new GridColumn("customerid", "Customer ID") {ForeignKey = true, DataOnly = true },
        new GridColumn("invoicedate", "Date") { DataType = typeof(DateTime)},
        new GridColumn("billingaddress", "Address"),
        new GridColumn("billingcity", "City"),
        new GridColumn("billingstate", "State"),
        new GridColumn("billingcountry", "Country"),
        new GridColumn("billingpostalcode", "Post Code"),
    };
    invoiceGridModel.NestedGrid = invoiceLineGridModel;
    invoiceGridModel.Caption = "Invoices";
    invoiceLineGridModel.ToolbarPosition = ToolbarPosition.Hidden;

    var customerGridModel = new GridModel(DataSourceType.SQLite, "Chinook", "Customers");
    customerGridModel.Columns = new List<GridColumn>
    {
        new GridColumn("customerid", "CustomerID") {PrimaryKey = true },
        new GridColumn("firstname", "Forename"),
        new GridColumn("lastname", "Surname"),
        new GridColumn("email", "Email Address") {Format = FormatType.Email },
        new GridColumn("address", "Address"),
        new GridColumn("city", "City") { InitialSortOrder = SortOrder.Desc},
        new GridColumn("postalcode", "Post Code"),
    };
    customerGridModel.NestedGrid = invoiceGridModel;

    @(await DbNetSuiteCore.Control.Create(HttpContext).Render(customerGridModel))
}}