@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Samples.Helpers

@model DbNetSuiteCoreSamples.ViewModels.SampleModel

@section Title
{
	<p data-summary>A grid can be made editable by simply setting the @RazorHelper.HelpLink("gridcolumn-properties#edit-bool", "Edit") property of the grid column to true.</p>
}

@section Control {
	@{
		var productsGrid = new GridModel(DataSourceType.SQLite, "Northwind", "Products") { ViewDialog = new ViewDialog() { LayoutColumns = 2 } };
		productsGrid.Columns = new List<GridColumn>() {
		new GridColumn("ProductID") { PrimaryKey = true },
		new GridColumn("ProductName") {FormColumn = new FormColumn()},
		new GridColumn("SupplierID","Supplier") { Lookup = new Lookup("Suppliers", "SupplierId", "CompanyName"), FormColumn = new FormColumn() },
		new GridColumn("CategoryID","Category") { Lookup = new Lookup("Categories", "CategoryID", "CategoryName"), FormColumn = new FormColumn() },
		new GridColumn("QuantityPerUnit", "Qty.") {FormColumn = new FormColumn()},
		new GridColumn("UnitPrice","Price") { Format = "c",FormColumn = new FormColumn()},
		new GridColumn("UnitsInStock", "Stock") {FormColumn = new FormColumn()},
		new GridColumn("UnitsOnOrder","On Order") {FormColumn = new FormColumn()},
		new GridColumn("ReorderLevel") {FormColumn = new FormColumn()},
		new GridColumn("Discontinued") { DataType = typeof(Boolean),FormColumn = new FormColumn()}
	};

		@(await new DbNetSuiteCore.GridControl(HttpContext).Render(productsGrid))
	}
}