@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Samples.Helpers
@model DbNetSuiteCore.Samples.ViewModels.SampleModel
@section Title
{
    <p data-summary>The @RazorHelper.HelpLink("select-model", "Select") control uses the HTML Select element to create a data-driven selection control that can be populated with all the supported data sources. You can use the @RazorHelper.HelpLink("select-model#optionselected", "OptionSelected") event to interact with the selected value.</p>
}
@section Control {
@{
    SelectModel customerSelect = new SelectModel(DataSourceType.SQLite, "northwind", "Customers")
    {
        Caption = "Customer",
        EmptyOption = "Please select a customer",
        Columns = new List<SelectColumn>()
        {
            new SelectColumn("CustomerID"),
            new SelectColumn("CompanyName")
        }
    };
    customerSelect.ClientEvents[SelectClientEvent.OptionSelected] = "showSelectedCustomer";
    @(await DbNetSuiteCore.Control.Create(HttpContext).Render(customerSelect))
    <div id="selectedCustomer"></div>
}}

@section Scripts
{
<script type="text/javascript" class="source">
function showSelectedCustomer(selectControl, args) {
    var selectedCustomer = document.querySelector("#selectedCustomer");
    if (selectControl.select.value == "") {
        selectedCustomer.innerText = ""
    }
    else {
        var selectedOption = args.selectedOptions[0];
        selectedCustomer.innerHTML = `You selected customer - <b>${selectedOption.text} (${selectedOption.value})</b>`
    }
}
</script>
}

   