@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Models
@model DbNetSuiteCoreSamples.ViewModels.SampleModel
@section Title
{
    <p data-summary>Using the <b>OptionGroup</b> column property allows you to take advantage of the native select option grouping capability </p>
}
@section Control {
@{
var productSelect = new SelectModel(DataSourceType.SQLite, "Northwind", "Products join Categories on Products.CategoryID = Categories.CategoryID") { Searchable = true };
productSelect.Columns = new List<SelectColumn>()
{
    new SelectColumn("ProductID"),
    new SelectColumn("ProductName"),
    new SelectColumn("CategoryName") {OptionGroup = true}
};
@(await new DbNetSuiteCore.SelectControl(HttpContext).Render(productSelect))
}}