@page "/Grid/Customers"
@layout SampleLayout
@using DbNetSuiteCore.Blazor.Samples.Components.Layout
@using DbNetSuiteCore.Blazor.Samples.Components.Pages
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Constants
@using DbNetSuiteCore.Enums
@using Microsoft.AspNetCore.Components.Sections
@inject IHttpContextAccessor httpContextAccessor

<PageTitle>Customers</PageTitle>

@{
    var customerGridModel = new GridModel(DataSourceType.SQLite, "Chinook", "Customers");
    customerGridModel.Columns = new List<GridColumn>
    {
        new GridColumn("customerid", "CustomerID") {PrimaryKey = true },
        new GridColumn("firstname", "Forename"),
        new GridColumn("lastname", "Surname"),
        new GridColumn("email", "Email Address") {Format = FormatType.Email },
        new GridColumn("address", "Address"),
        new GridColumn("city", "City") { InitialSortOrder = SortOrder.Desc},
        new GridColumn("postalcode", "Post Code"),
    }; 

    customerGridModel.PageSize = 10;
}

@(new DbNetSuiteCore.Blazor.Control(httpContextAccessor).Render(customerGridModel))

<SectionContent SectionName="summary">
    <p data-summary>At it's simplest just define the @HelperFunctions.Wiki("GridModel", "Grid-Model") specifying the data source type, connection alias and table or view name. The @HelperFunctions.Wiki("GridColumn", "Grid-Column") objects define each column in the grid.</p>
</SectionContent>