@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Constants
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Samples.Helpers

@model DbNetSuiteCoreSamples.ViewModels.SampleModel

@section Title
{
    <p data-summary><a target="_blank" href="/data/json/producthunt.json">JSON</a> can also be used as a data source either as a file or as an API url. The sample also uses the @RazorHelper.HelpLink("gridmodel-properties#cache-bool", "Cache") property to cache the JSON data in memory to improve performance</p>
}

@section Control {
@{
    var gridModel = new GridModel(DataSourceType.JSON, "/data/json/ProductHunt.json");
    gridModel.Columns = new List<GridColumn>()
    {
        new GridColumn("Name") {},
        new GridColumn("TagLine"),
        new GridColumn("Link") {Format = FormatType.Url},
        new GridColumn("ImgLink", "Image") {Format = FormatType.Image, RegularExpression = @"^.*?(?=,)"},
        new GridColumn("Industry"),
        new GridColumn("Votes", "Votes") {DataType = typeof(Int32)},
        new GridColumn("PaymentStatus", "Status")
    };
    gridModel.Cache = true;

    @(await new DbNetSuiteCore.GridControl(HttpContext).Render(gridModel))
}}
