@page "/Select/Multiple"
@layout SampleLayout
@using DbNetSuiteCore.Blazor.Samples.Components.Layout
@using DbNetSuiteCore.Blazor.Samples.Components.Pages
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Constants
@using DbNetSuiteCore.Enums
@using Microsoft.AspNetCore.Components.Sections
@inject IHttpContextAccessor httpContextAccessor
@{
    SelectModel customerSelect = new SelectModel(DataSourceType.SQLite, "northwind", "Customers")
    {
        Caption = "Customer",
        Searchable = true,
        Size = 20,
        RowSelection = RowSelection.Multiple,
        Columns = new List<SelectColumn>()
        {
            new SelectColumn("CustomerID"),
            new SelectColumn("CompanyName")
        }
    };
    customerSelect.ClientEvents[SelectClientEvent.OptionSelected] = "showSelectedCustomers";

    <div class="flex flex-row">
        <div class="flex">
            @(new DbNetSuiteCore.Blazor.Control(httpContextAccessor).Render(customerSelect))
        </div>
        <div class="flex flex-column" style="padding:10px">
            <h5>Selected Customers</h5> 
            <div id="selectedCustomers"></div>
        </div>
    </div>
}
<SectionContent SectionName="summary">
    <p data-summary>Setting the @HelperFunctions.Wiki("selectmodel-properties#size-int32", "Size") property to a number greater than 1 and the @HelperFunctions.Wiki("selectmodel-properties#rowselection-rowselection", "RowSelection") property to @HelperFunctions.Wiki("gridmodel-enums#rowselection", "Multiple") true allows the user to select multiple options.</p>
</SectionContent>

<script type="text/javascript" class="source">
function showSelectedCustomers(selectControl, args) {
    var selectedCustomerDiv = document.querySelector("#selectedCustomers");
    if (selectControl.select.value == "") {
        selectedCustomerDiv.innerText = ""
    }
    else {
        var selectedCustomers = []
        Array.from(args.selectedOptions).forEach((o) => selectedCustomers.push(`${o.text} (${o.value})`));
        selectedCustomerDiv.innerHTML = selectedCustomers.join('<br/>')
    }
}
</script>